.error-alert {
  position: fixed;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4d;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: top 0.5s ease-in-out;
}

.error-alert.show {
  top: 1rem;
}

.error-alert.hide {
  top: -500px;
}

.success-alert {
  position: fixed;
  top: -500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}

.success-alert.show {
  top: 1rem;
}

.success-alert.hide {
  top: -500px;
}

@media (max-width: 750px) {

  .error-alert,
  .success-alert {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }
}